@model List<CarPropertyViewModel>
@{
	ViewData["Title"] = "Araçlar";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form asp-action="Index" asp-controller="Car" method="post" role="search" class="form-inline my-2 my-lg-0 header-search">
	<div class="container d-flex">
		<div class="ml-5"><i class="fas fa-search"></i></div>
		<input name="search" class="form-control mr-sm-2" type="search" placeholder="Araç plakası...">
		<button class="btn btn-primary my-2 my-sm-0" type="submit">
			Ara
		</button>
	</div>
</form>
<div class="container-fluid py-4">
	<a asp-action="Create" asp-controller="Car" class="textyazi4 font-weight-bold text-xs">Yeni Araç Ekle +</a>
	<div class="row">
		<div class="col-12">
			<div class="card my-4">
				<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
					<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
						<h6 class="text-white text-capitalize ps-3">Tüm Araçlar</h6>
					</div>
				</div>
				<div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<partial name="_CarsPartialView" model="@Model" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script>
		function deleteto(id) {
			$.ajax({
				//type: 'GET',
				url: '/Car/Delete/' + id,
				success: function (result) {
					$("#tablo").html(result);

				},
				error: function (xhr, status, error) {

					console.error(error);
				}
			});
		};
	</script>
}


