@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutTiktak.cshtml";
}

    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase fot mb-3">TikTak Hakkında</h1>
        <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-dark" asp-action="Index" asp-controller="Home">Anasayfa</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Hakkımızda</h6>
        </div>
    </div>
    <!-- Page Header Start -->
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-5 text-left mb-5 fot">Tiktak Limited <span class="text-dark">, Bireylerin ve kurumların dakikalık araç kiralama ihtiyaçlarını karşılayan ve kullandığın kadar ödemeye olanak sağlayan araç paylaşım markasıdır.</span></h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-left">
                    <img class="w-75 mb-4 image-3" src="img/tiktak-hakkinda.jpg" alt="">
                    <p class="yazi text-left pt-5">TikTak, kişileri özgürleştiren ve yaşam kalitelerini artıran, çevreye duyarlı yeni nesil ulaşım çözümü olma misyonuyla kuruldu. Bireyleri ve kurumları şehirde 7/24 mobil olma imkanı ile buluşturuyor, binlerce arabamızla dakikalık araç kiralama hizmeti sunuyoruz. Ekonomik bir şekilde arabaya kolayca ulaşım imkanı sağlayan sürdürülebilir mobilite hizmetimizle, müşterilerimiz şehrin her noktasına özgürce ulaşabiliyor.</p>
                    <h2 class="text-left pt-5 fot py-5">TikTak Değerlerimiz</h2>
                    <img class="w-75 mb-4 image-3" src="img/tiktak-degerlerimiz-banner.jpg" alt="">
                    <h2 class="text-left pt-5 fot">Müşteriye Tutkulu</h2>
                    <p class="yazi text-left">Attığımız tüm adımları kullanıcıların geri bildirimlerini dikkate alarak hayata geçiririz.</p>
                    <h2 class="text-left pt-5 fot">İnisiyatif Alan</h2>
                    <p class="yazi text-left">İhtiyaçlarımız ve hedeflerimiz doğrultusunda aksiyonları kendi insiyatifi ile uygular, etki yaratacak kararlarla işimizi sahipleniriz.</p>
                    <h2 class="text-left pt-5 fot">Birlikteliğin Gücüne İnanan</h2>
                    <p class="yazi text-left">Farklı perspektiflerden besleniriz, düşüncelerimize ve davranışlarımıza takım olma yolunda yön veririz.</p>
                    <h2 class="text-left pt-5 fot">Gelişim Odaklı</h2>
                    <p class="yazi text-left">Tüm adımlarımızı çalışanlarımızın gelişimi ve şirketimizin büyümesi hedefiyle atarız.</p>
                    <h2 class="text-left pt-5 fot">Dünya’yı Önemseyen</h2>
                    <p class="yazi text-left">Birbirimizin hayatını önemsemekle kalmaz, içinde bulunduğumuz toplumun ve çevrenin daha iyi koşullarda olması için çalışırız.</p>
                    <h2 class="text-left pt-5 fot">TikTak Ekibine Katılmak İster misin?</h2>
                    <p class="yazi text-left">Ekibimizin bir parçası olmak istersen Kariyer sayfamızı inceleyebilir, sana uygun olduğunu düşündüğün ilanlara başvurabilirsin.</p>
                    <div class="button">KARİYER</div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


