@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTiktak.cshtml";
}

<!-- bg2 -->
<div class="container">
    <div class=" bg-2">
        <img class="bg-2" id="nesne2" src="~/Templete/car-rental-html-template/img/bg-path-02.svg" alt="">

    </div>
</div>
<!-- bg2 -->
<!-- Detail Start -->
<div class="container-fluid pt-5">
    <div class="container pt-5 pb-3">
        <div class="row align-items-center pb-2">
            <div class="col-lg-6 mb-4 yazi">
                <h1 class="display-3 text-uppercase mb-5 baslik py-5">Tiktak Neo</h1>
                <img class="img-fluid image" src="~/Templete/car-rental-html-template/img/tiktak-neo.png" alt="">
            </div>
            <div class="col-lg-6 mb-4 yazi">
                <p>Yeni nesil abonelik modeli Tiktak Neo'ya geç araba yapmanın en kısa yoluyla tanış. Hemen Tiktak'a kayıt ol, 30 gün boyunca, dilediğin arabayı tıpkı kendi araban gibi her gün kullanmaya başla</p>
                <div class="pt-3">
                       <a class="button" asp-action="Register" asp-controller="Account">Kayıt Ol</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container pt-5 pb-3">
        <div class="row align-items-center pb-2">
            <div class="col-lg-6 mb-4 yazi-2">
                <h1 class="display-3 text-uppercase mb-5 baslik-2 py-3">NERELERDE VARIZ?</h1>
                <p>Web sayfamızda belirtilen İstanbul il sınırları içerisindeki hizmet bölgesinde yer alan TikTak araçlarını kullanabilirsin.</p>
                <div class="pt-3">
                      <a class="button" asp-action="Index" asp-controller="Sale">Kirala</a>
                </div>
            </div>

            <div class="col-lg-6 mb-4 pt-5">
                <img class="img-fluid image-2" src="~/Templete/car-rental-html-template/img/figure-mask-04.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Detail End -->
