
@{
    ViewData["Title"] = "ReturnAndRefund";
    Layout = "~/Views/Shared/_LayoutTiktak.cshtml";
}

    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase fot mb-3">GERİ ÖDEME VE İADE POLİTİKASI</h1>
        <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-dark" asp-action="Index" asp-controller="Home">Anasayfa</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">GERİ ÖDEME VE İADE POLİTİKASI</h6>
        </div>
    </div>
    <!-- Page Header Start -->
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-left">
                    <h2 class="text-left pt-5 fot">GERİ ÖDEME VE İADE POLİTİKASI</h2>
                    <p class="yazi text-left pt-5 py-5">Bu politika, TikTak tarafından sağlanan araç kiralama hizmetinin dönüş ve iade sürecini belirlemektedir. Lütfen bu politikayı dikkatlice okuyun ve anlayın.</p>
                    <h2 class="text-left pt-5 fot py-5">1. GERİ ÖDEME ŞARTLARI</h2>
                    <p class="yazi text-left">1.1 Kiracı, kiralama süresinin sonunda aracı belirlenen iade noktasına getirmelidir.</p>
                    <p class="yazi text-left">1.2 Aracın dönüşü sırasında, yakıt seviyesi kiralama başlangıcındaki seviyeye eşit olmalıdır.</p>
                    <p class="yazi text-left py-3">1.3 Kiracı, aracın kiralama süresince oluşabilecek hasarları Kiralayan'a bildirmelidir.</p>
                    <h2 class="text-left pt-5 fot py-5">2. GERİ ÖDEME SONRASI İNCELEME</h2>
                    <p class="yazi text-left">2.1 Kiralayan, aracın iade edilmesinden sonra bir inceleme yapacaktır. Herhangi bir hasar veya eksiklik durumunda, bu durum Kiracı'ya bildirilecek ve gerekli tazminat düzenlemeleri yapılacaktır.</p>
                    <p class="yazi text-left py-3">2.2 Aracın iade edilmesiyle ilgili herhangi bir uyuşmazlık durumunda, Kiracı ve Kiralayan, durumu çözmek için işbirliği yapacaklardır.</p>
                    <h2 class="text-left pt-5 fot py-5">3. İADE ŞARTLARI</h2>
                    <p class="yazi text-left">3.1 İade işlemleri, aracın dönüşünden itibaren 7 Gün içerisinde tamamlanacaktır.</p>
                    <p class="yazi text-left py-3">3.2 İade işlemi sırasında, Kiracı'nın sağlamış olduğu ödeme yöntemi kullanılacaktır.</p>
                    <h2 class="text-left pt-5 fot py-5">4. İADELER VE ÜCRETLER</h2>
                    <p class="yazi text-left">4.1 Kiralama süresi boyunca oluşan ek ücretler ve masraflar (yakıt, trafik cezaları vb.) iade işleminden önce düşülecektir.</p>
                    <p class="yazi text-left py-3">4.2 İade işlemi sırasında oluşabilecek herhangi bir banka veya finansal kurumun işlem ücretleri Kiracı'ya aittir.</p>
                    <h2 class="text-left pt-5 fot py-5">5. İPTAL VE DEĞİŞİKLİKLER</h2>
                    <p class="yazi text-left ">5.1 Kiracı, kiralama süresini değiştirmek veya iptal etmek için, Kiralayan'a bildirmelidir. Aksi takdirde, ilgili ücretler uygulanabilir.</p>
                    <p class="yazi text-left py-3">Bu politika, Kiracı tarafından kabul edilmiş sayılır.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->



